*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    height:auto;
    background-size: 1300px 750px;
}
nav{
    padding : 20px 8%;
    height : 65px;
    display: flex;
    flex-direction: row;
    gap:20px;
    background-color: black;
}
.navbar div img{
    margin-bottom: 30px;
    max-height: 70px;
    max-width: 150px;
    height: 30px;
    width: 80px;
}
nav ul{
    margin-top: 6px;
    display: flex;
}
.navbar ul li{
    display:flex;
    flex-direction: row;
    list-style : none;
    margin-left : 5%;
    font-weight: 200;
    color: white;
}
nav ul{
    display:flex;
    flex-direction:row;
    gap:30px;
}
.navbar div button{
    background-color:#a426a1;
    padding:8px;
    border:none;
    font-weight:700;
    border-radius: 5px;
    margin-left:390px;
    color:white;
}
.hero{
    margin-top: 70px;
}
.hero h1{
    display:flex;
    flex-direction: row;
    margin-left:320px;
    font-size: 78px;
    color: white;
}
.hero p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-style: italic;
    margin-left: 3%;
}
.hero button{
    background-color:#a426a1;
    padding:15px;
    border:none;
    font-size: 15;
    font-weight:1000;
    border-radius: 8px; 
    margin-left: 530px;
    margin-top: 25px;
    color: white;
    width: 250px;
    font-style: normal;
}
.line{
    background-color: white;
    padding-left: 1px;
}
.navbar ul li:first-child::after{
    content : "\00a0\00a0\25bc";
    margin-top: 5px;
    font-size: 11px;
    color : white;
  
}